html {
    margin: 0 200px 30px;
    padding: 10px;
    background-color: rgb(242, 174, 185);
    
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

section {
    color: rgb(247, 125, 233);
    width: 100%;
    float: left;
    border: 2px solid #ecc0f8;
    border-radius: 10px;
    padding: 20px;
    margin: 0px;
    background-color: #fce6e6;
    text-shadow: 1px 1px 2px #000000;
}

header {
    float: center;
    color: rgb(255, 70, 233);
    text-shadow: 2px 2px 4px #000000;
}

input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    margin-top: 10px;
    background-color: #ff00d4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #e26de4;
}

.output-message {
    width: 50%;
    float: center;
    display: block;
    margin: 5px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #e3b6d3;
    font-weight: bold;
}